* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: repeating-linear-gradient(
        to right,
        paleturquoise 0%,
        pink 25%,
        rgb(88, 220, 88) 75%,
        rgb(255, 252, 93) 100%
    );
}

.title-blur {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter#blur() */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10px 0;
}

#form-container {
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
}

.tabs {
    position: relative;
    display: flex;
    background:rgba(236, 244, 252, 0.3);
    border-top: 1px solid #fe0066;
    border-bottom: 1px solid #fe0066;

}

.tabs > * {
    padding: 5px 12px;
    margin: 5px 0;
    text-align: right;
}


.not-hidden {
    background: #fe0066;
}

.login {
    margin-right: 15px;
}

#outer {
    width: 100%;
    margin-top: 40px ;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#page {
    width: 200%;
    position: relative;
    display: flex;
    margin: auto;
    transition: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

form {
    border-radius: 4px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    text-align: center;
    margin: auto;
    width: 100%;
}

form > label {
    display: block;
    padding: 30px 15px 0;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}

.form-element {
    position: relative;

}

.form-bg {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: repeating-linear-gradient(
        to right,
        rgba(26, 69, 69, 0.75) 0%,
        rgba(99, 40, 50, 0.75) 25%,
        rgba(15, 63, 15, 0.75) 75%,
        rgba(60, 59, 9, 0.75) 100%
    );
}

.input-focus {
    text-align: center;
    border: none;
    width: 75%;
    background: rgba(0, 0, 0, 0.3);
    color:rgb(236, 244, 252);
    transition-duration: 0.2s;
    transition-property: width, background, color;
}

.input-focus:hover {
    background: rgba(255, 255, 255, 0.6);
    color:rgb(0, 0, 0);
}

.input-focus:focus {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    color:rgb(0, 0, 0);
}