* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: repeating-linear-gradient(
        45deg,
        rgb(175, 238, 199) 0%,
        /* pink 25%, */
        rgb(76, 243, 96) 75%,
        paleturquoise 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 5px 0;
}

table {
    border-radius: 4px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    text-align: center;
}

.table-bg {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: repeating-linear-gradient(
        90deg,
        rgba(57, 151, 151, 0.75) 0%,
        rgba(253, 100, 126, 0.75) 25%,
        rgba(58, 249, 58, 0.75) 75%,
        rgba(255, 251, 37, 0.75) 100%
    );
}

/* td {
    table-spacing: 5px;
} */

a {
    color: inherit;
    text-decoration: none;
}